# URL вашей базы 1С (OData endpoint)
# Локальная:  http://localhost/accounting/odata/standard.odata
# 1С:Фреш:   https://1cfresh.com/a/sbm/<ID>/odata/standard.odata
# Mock:       http://localhost:8080/odata/standard.odata
ONEC_BASE_URL=http://localhost:8080/odata/standard.odata

# Логин пользователя 1С
ONEC_LOGIN=admin

# Пароль пользователя 1С
ONEC_PASSWORD=admin
